<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <disabledPackageSources>
        <add key="nexus.proxy" value="true" />
        <add key="nexus.hosted" value="true" />
    </disabledPackageSources>
    <packageSources>
        <clear />
		<!-- 确保仅使用以下定义的来源 -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="nexus.group" value="https://192.168.100.44/repository/nuget-group/index.json"/>
        <add key="nexus.hosted" value="https://192.168.100.44/repository/nuget-hosted/index.json"/>
        <add key="nexus.proxy" value="https://192.168.100.44/repository/nuget.org-proxy/index.json"/>
    </packageSources>
</configuration>