<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="projectLogDir" value="logs" />
  <targets async="true">
    <default-target-parameters xsi:type="File" createDirs="true" autoFlush="false" keepFileOpen="true" maxArchiveFiles="3" openFileFlushTimeout="10"
                               openFileCacheTimeout="30" archiveAboveSize="104857600" archiveNumbering="Sequence" concurrentWrites="true" encoding="UTF-8" />

    <target xsi:type="File"
            name="GlobalTargetJson"
            fileName="${projectLogDir}/${level}/${shortdate}.txt"
            archiveFileName="${projectLogDir}/${level}/${shortdate}.{#####}.txt">

      <layout xsi:type="JsonLayout">
        <attribute name="level" layout="${level}" />
        <attribute name="app_id" layout="Com.GleekFramework.NLogSdk" />
        <attribute name="url" layout="${event-properties:item=Url}"/>
        <attribute name="content" layout="${event-properties:item=Content}"/>
        <attribute name="service_id" layout="${local-ip:cachedSeconds=3600}" />
        <attribute name="serial_no" layout="${event-properties:item=SerialNo}"/>
        <attribute name="service_time" layout="${event-properties:item=ServiceTime}"/>
        <attribute name="content_length" layout="${event-properties:item=ContentLength}" encode="false"/>
        <attribute name="total_milliseconds" layout="${event-properties:item=TotalMilliseconds}" encode="false"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="GlobalJson" levels="Debug,Info,Trace,Warn,Error,Fatal" writeTo="GlobalTargetJson" />
  </rules>
</nlog>